{% extends "../../common/templates/default.html.twig" %}

{% block title %}Contents Editor{% endblock title %}

{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}

{% block main %}
	<div class="cont_page_list">
	</div>
{% endblock main %}


{% block foot %}
	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
	<script id="template-pageList" type="text/template">
	{% raw %}
		<div class="list-group">
			{% for pageInfo in sitemap %}
				<a href="./editors/index.html?projectIdx={{projectIdx}}&amp;path={{pageInfo.path}}" class="list-group-item" target="_blank">
					<h2>{{pageInfo.title}}</h2>
					<p>{{pageInfo.id}}, {{pageInfo.path}}</p>
				</a>
			{% endfor %}
		</div>
	{% endraw %}
	</script>
{% endblock foot %}
