{% extends "../../common/templates/default.html.twig" %}

{% block title %}Module Editor{% endblock title %}

{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./moduleList_files/cont.css" />
{% endblock head %}

{% block main %}
	<div class="cont_module_list">
	</div>
	<div class="cont_cont_footer">
	</div>
{% endblock main %}


{% block foot %}
	<!-- local -->
	<script src="./moduleList_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
	<script id="template-moduleList" type="text/template">
	{% raw %}
		<h2>{{ packageInfo.name }}</h2>
		{% for category in categories %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{category.categoryName}}</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						{% for module in category.modules %}
							<a href="./editor/?projectIdx={{projectIdx}}&amp;packageId={{packageId}}&amp;moduleId={{module.moduleId}}" class="list-group-item" onclick="cont.openEditor(this.href);return false;">
								<div>{{module.moduleName}}</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	{% endraw %}
	</script>
	<script id="template-content-footer" type="text/template">
	{% raw %}
		<div class="list-group">
			<a href="javascript:cont.openInTextEditor();" class="list-group-item">テキストエディタで開く</a>
			<a href="./?projectIdx={{projectIdx}}" class="list-group-item">モジュールパッケージを再選択</a>
			<a href="../?projectIdx={{projectIdx}}" class="list-group-item">プロジェクト ホーム</a>
		</div>
	{% endraw %}
	</script>
{% endblock foot %}
