{% extends "../common/templates/default.html.twig" %}

{% block title %}Project HOME{% endblock title %}

{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}

{% block main %}
	<p><button class="btn btn-default" onclick="main.socketTest();return false;">疎通テスト</button></p>
	<div class="cont_project_info">
	</div>
	<p><a class="btn btn-default" href="/">プロジェクト選択</a></p>
{% endblock main %}


{% block foot %}
	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
	<script id="template-projectInfo" type="text/template">
	{% raw %}
		<h2>{{data.name}}</h2>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Project Index</th>
					<td>{{projectIdx}}</td>
				</tr>
				<tr>
					<th>Project Name</th>
					<td>{{projectInfo.name}}</td>
				</tr>
				<tr>
					<th>Path</th>
					<td>{{projectInfo.path}}</td>
				</tr>
				<tr>
					<th>Entry Script Name</th>
					<td>{{projectInfo.entry_script}}</td>
				</tr>
			</tbody>
		</table>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Project Name</th>
					<td>{{config.name}}</td>
				</tr>
				<tr>
					<th>Home Directory</th>
					<td>{{path_homedir}}</td>
				</tr>
			</tbody>
		</table>
		<div class="list-group">
			<a href="./moduleEditor/?projectIdx={{projectIdx}}" class="list-group-item">モジュールを編集する</a>
		</div>
	{% endraw %}
	</script>
{% endblock foot %}
