{% extends "../common/templates/default.html.twig" %}

{% block title %}Project HOME{% endblock title %}

{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}

{% block main %}
	<!-- <p><button class="btn btn-default" onclick="main.socketTest();return false;">疎通テスト</button></p> -->
	<div class="cont_project_info">
	</div>
{% endblock main %}


{% block foot %}
	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
	<script id="template-projectInfo" type="text/template">
	{% raw %}
		<h2>{{data.name}}</h2>
		<div class="mb1em">
			<a href="javascript:cont.openInTextEditor();" class="btn btn-default">テキストエディタで開く</a>
			<a href="javascript:cont.openFolder();" class="btn btn-default">フォルダを開く</a>
		</div>
		<div class="unit">
			<table class="def" style="width:100%; table-layout:fixed;">
				<colgroup width="30%">
				<colgroup width="70%">
				<tbody>
					<tr>
						<th>Project Index</th>
						<td style="overflow:auto; white-space:nowrap;">{{projectIdx}}</td>
					</tr>
					<tr>
						<th>Project Name</th>
						<td style="overflow:auto; white-space:nowrap;">{{projectInfo.name}}</td>
					</tr>
					<tr>
						<th>Path</th>
						<td style="overflow:auto; white-space:nowrap;">{{projectInfo.path}}</td>
					</tr>
					<tr>
						<th>Entry Script Name</th>
						<td style="overflow:auto; white-space:nowrap;">{{projectInfo.entry_script}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="unit">
			<table class="def" style="width:100%; table-layout:fixed;">
				<colgroup width="30%">
				<colgroup width="70%">
				<tbody>
					<tr>
						<th>Project Name</th>
						<td style="overflow:auto; white-space:nowrap;">{{config.name}}</td>
					</tr>
					<tr>
						<th>Home Directory</th>
						<td style="overflow:auto; white-space:nowrap;">{{path_homedir}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endraw %}
	</script>
{% endblock foot %}
