{% extends "../../common/templates/default.html.twig" %}

{% block title %}Module Editor{% endblock title %}

{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}

{% block main %}
	<div class="cont_layout_list">
	</div>
	<div class="cont_cont_footer">
	</div>
{% endblock main %}


{% block foot %}
	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
	<script id="template-layoutList" type="text/template">
	{% raw %}
		<div class="list-group">
			{% for modPkg in modulePkgList %}
				<a href="./moduleList.html?projectIdx={{projectIdx}}&amp;packageId={{modPkg.packageId}}" class="list-group-item">
					<h2>{{modPkg.packageName}}</h2>
					<p>{{modPkg.realpath}}</p>
				</a>
			{% endfor %}
		</div>
	{% endraw %}
	</script>
	<script id="template-content-footer" type="text/template">
	{% raw %}
		<div class="list-group">
			<a href="../?projectIdx={{projectIdx}}" class="list-group-item">プロジェクト ホーム</a>
		</div>
	{% endraw %}
	</script>
{% endblock foot %}
