{% extends "../../common/templates/default.html.twig" %}

{% block title %}Sitemap Editor{% endblock title %}

{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}

{% block main %}
	<p>開発中の機能です。</p>

{% endblock main %}


{% block foot %}
	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
	<script id="template-layoutList" type="text/template">
	{% raw %}
		<div class="list-group">
			{% for layout in layoutList %}
				<a href="./editors/broccoli-html-editor/index.html?projectIdx={{projectIdx}}&amp;layout={{layout}}" class="list-group-item" target="_blank">
					<h2>{{layout}}</h2>
					<button class="btn btn-default" onclick="cont.removeLayout('{{layout}}');return false;">削除する</button>
				</a>
			{% endfor %}
		</div>
	{% endraw %}
	</script>
	<script id="template-content-footer" type="text/template">
	{% raw %}
		<div class="list-group">
			<a href="../?projectIdx={{projectIdx}}" class="list-group-item">プロジェクト ホーム</a>
		</div>
	{% endraw %}
	</script>
{% endblock foot %}
